<div class="row content-header">

            <div class="col-md-6 content-header-left">
                <img src="img/presentation_screen_icon@2x.png" width="75" alt="Presentation screen icon for Wrist Presenter">
                <h1>Wrist Presenter</h1>
                <h2>Presentations with your wrist</h2>
                <p>Wrist Presenter is an iOS app that lets you control presentations wirelessly with your Pebble Smartwatch. Instead of purchasing an expensive wireless remote, use what you already have. Download and try for free now.</p>

                <a href="{{ site.app_url }}" onClick="trackOutboundLink(this, 'Outbound Links', '{{ site.app_url }}'); return false;" title="Download Wrist Presenter iOS app for free"><img src="img/app_store_badge@2x.png" width="203" alt="Download Wrist Presenter on the App Store badge"></a>
                <a href="{{ site.android_app_url }}" onClick="trackOutboundLink(this, 'Outbound Links', '{{ site.android_app_url }}'); return false;" title="Download Wrist Presenter Android app for free"><img alt="Get it on Google Play" src="img/google_play_badge.png" /></a>
            </div><!-- <div class="col-md-6 content-header-left"> -->

            <div class="col-md-6 content-header-right">
                <img src="img/app_screenshot01@2x.png" width="350" class="img-responsive" alt="Screenshot of Wrist Presenter app">
            </div> <!-- <div class="col-md-6 content-header-right"> -->

        </div> <!-- <div class="row"> -->
